/* Utilisateurs.css */

.user-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(53, 48, 48);
}

.user-info {
    margin-bottom: 5px;
    color: white;
}

.user-info span {
    font-weight: bold;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f;
}