.liste {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 100px;
}

.box-product {
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(205, 203, 203);

}

.box-product img {
  max-width: 100%;
  height: 275px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-panier {
  background-color: rgb(205, 203, 203);
  border-radius: .5rem;
  border: .2rem solid black;
  margin-left: 350px;
  margin-bottom: 20px;
}

.details {
  background-color: rgba(244, 241, 241, 0.971);
  border: .2rem solid black;
  margin-bottom: -18px;
  margin-left: -18px;
  margin-right: -18px;
}

.details p {
  font-weight: bold;
  color: black;

}

.details h2 {
  color: black;
}